<h1>Drink Up!</h1>
<a href="/"><button><h1>Search again!</h1></button></a>
<h1></h1>
<h1></h1>
<% gifs["data"].each do |gif| %>
  <img src= "<%= gif["link"] %>" height="200">
<% end %>

<h1></h1>
<h1></h1>
