<div class="header">
<h1>Welcome to Beer.me</h1>
  </div>

<div class="content">
<p>Are you drunk yet?</p>

<p>You should be.</p>

<p>Enter your drink of choice.</p>
  </div>

<form method="get" action="/http://api.gifme.io/v1/search?query=<%=params[:beer] %>&limit=42&page=0&key=rX7kbMzkGu7WJwvG">
  <label for="search">Search:</label>
  <textarea type="text" col="40" row="5" id="message" name="beer"></textarea><br>
  <button>Submit</button>
</form>



