<div class="header">
<h1>Welcome to Beer.me</h1>
  </div>

<div class="content">
<p>Are you drunk yet?</p>

<p>You should be.</p>

  </div>


  <a href="/beer"><button>Drink Up!</button></a>
</form>



