<div class="header">
<h1>Welcome to Beer.me</h1>
  </div>

<div class="content">
<p>Are you drunk yet?</p>

<p>You should be.</p>

  </div>

<form method="get" action="/search_results">
  <label for="gifs">Search for a gif:</label>
  <input type="text" name="search_term" id="search_term"/>
  <input type="submit" value="Drink Up"/>
</form>
