html {
background-image:url('http://earthlymission.com/wp-content/uploads/2014/06/pints_in_the_sun_290614b.gif'); background-repeat:repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


* {
    margin: 0;
    Padding: 0;
}

.header {

    width: 100%;
    height: 100px;
    position: relative;
    margin: 0px;
    padding-left: 20px;
}

#content {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

footer {
    background-color: #c5c5c5; /* Dark Grey */
}

.wrapper {
    margin: auto;
    width: 980px;

}

.form-element label {
    display: inline-block;
    width: 200px;
}

.form-element input {
    display: inline-block;
    width: 200px;
}


#map { height: 180px;
       margin: auto;
}
